APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

#APP_SECRET=gobarberigorthierry6378
APP_SECRET=83e70b5d32f10a3e2968283612b79b6e

# Database

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=https://5b0d3268e5e841a89367773874737d50@sentry.io/1793728
